# vim: set syntax=zsh:

export CARGO_INCREMENTAL=1
export ROCKET_ENV=dev

# pg_ctl -D /usr/local/var/postgres start

function start_postgres() {
    pg_ctl -D /usr/local/var/postgres start
}

function stop_postgres() {
    pg_ctl -D /usr/local/var/postgres stop
}

# autoload -U start_postgres stop_postgres

